*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

:root{
    --brown: #513A2F;
    --brown1: #665248;
    --cream: #f3ece1;
    --goldish: #fae59f;
}

body{
    background-color: var(--white);
}

nav{
    background-color: var(--brown);
    height: 100px;
    width: 100%;
}

.logo{
    width: 100px;
    height: auto;
    padding: 5px;
}
